.card {
    position: relative;
    height: 130px;
    width: 130px;  
    border: none;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .front {
    position:absolute;
    border: 2px solid white;
    border-radius: 10px;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    cursor: default;
  }
  
  .transparent {
    opacity: 0;
  }
  
  .back {  
    height: 130px;
    width: 130px;     
    border: 2px solid white;
    position:absolute;
    top: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }